<!DOCTYPE html>
<html ng-app>
<head>
    <title>Basic AngularJS</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body ng-init="name = 'John Fristedt'; showText = false">
    <main>
        <input type="text" ng-model="name" />
        <button type="button" ng-click="showText = !showText">Toggle text</button>
        <p ng-show="showText" ng-bind="name"></p>
    </main>

    <script src="Scripts/angular.js"></script>
</body>
</html>